#not-found-wrapper {
    width: calc(100% - 72px);
    height: calc(100vh - 56px);
    overflow: hidden;
}

#not-found-image {
    height: 100%;
    object-fit: cover;
    filter: contrast(145%);
    position: relative;
    top: -40px; right: 40px;
}

#go-back-home {
    font-size: 18px;
    position: absolute;
    top: calc(50% + 132px);
    left: calc(50% - 18px);
    transform: translate(-50%, -50%);
}
