#header {
    width: 100%;
    height: 56px;
    padding: 0 16px;
    background-color: #202020;
    
    position: fixed;
    top: 0;
}

/* LEFT ********************************************/
#header__left {
    
}

.logo-wrapper {
    padding: 18px 14px 18px 16px;
    width: 120px;
    height: 56px;
    
}

#header__logo {
    width: 100%;
    object-fit: cover;
}


/* MIDDLE ******************************************/
#header__middle {
    width:  650px;
}




/* RIGHT ********************************************/
#header__right {
    height: 100%;
    
}
