#settings-page {
    width: calc(100% - 72px);
}

#settings-page form {
    width: 100%;
    max-width: 1280px;
    
    display: grid;
    grid-template-columns: 55% 45%;
    /* grid-gap: 10%; */
    grid-template-areas: 
        "left1 right"
        "left2 right";
}

.image-upload-container {
    height: 236px;
    padding: 12px;   
}




#settings-page .left1 {
    grid-area: left1;
}

#settings-page .left2 {
    grid-area: left2;
}

#settings-page .right {
    grid-area: right;
    height: 100%;
}


/* IMAGE PREVIEWS */
#settings-page .image-preview {
    margin: 0;
    padding: 0;
    min-width: 400px;
    aspect-ratio: 16/9;
}

.aspect {
    aspect-ratio: 16/9;
}
