#home-page {
    width: calc(100% - 72px);
}

.video-row-grid {
    width: 100%;
    
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(4, auto);
    gap: 24px;
}

.video-grid-item-container {
    max-height: 200px;
    /* max-width: ; */
}

.thumbnail {
    object-fit: cover;
    width: 100%;
    max-height: 200px;
}
