#login-page {
    width: calc(100% - 72px);
    margin: 0 auto;
}

#login-form {
    min-width: 300px;
    width: 40%;
    max-width: 560px;
    padding: 64px 32px;
    border-radius: 4px;
    border: 1px solid var(--gray-dark);
    
    background-color: var(--gray-darkest);
    box-shadow: 4px 6px 16px 16px #26262629;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
}


/* INPUTS */
#login-form input {
    width: 100%;
    padding: 12px;
    margin: 16px 0 36px;
    border: 1px solid var(--gray-light);
    border-radius: 4px;
    
    font-size: 16px;
    background-color: transparent;
    outline: none;
    color: white;
}
#login-form input:focus {
    border: 1px solid var(--blue);
}
