#channel-page {
    width: 100%;
    height: 100%;
}


#channel-header {
    height: 350px;
}


#channel-banner {
    height: 200px;
    overflow: hidden;
}
#channel-header img {
    width: 100%;
}


#channel-header__actions {
    height: 150px;
    width: 100%;
}
